* {
	box-sizing: border-box;
}

body {
	background-color: #f5f7fa;
	
	display: flex;
	align-items: right;
	justify-content: flex-start;
	flex-direction: column;
	
	transition: all ease-in-out 0.3s;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

h1{
  color:aquamarine;
  font-size: 50px;
  text-align:center;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.wrapper1{
  position: fixed;
  top: 50%;
  left:65%;
  transform: translate(-50%, -50%);
}

.wrapper2{
  position: fixed;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.wrapper3{
  position: fixed;
  top: 75%;
  left: 65%;
  transform: translate(-50%, -50%);
}



a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color:#AF7AC5;
  border: 2px solid #AF7AC5;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: gold;
  transition: all .35s;
}

a:hover{
  color:white;
}

a:hover:after{
  width: 100%;
}
